Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
sh.exe.stackdump
Content/Audio/heythere.uasset
Content/Audio/wheredhego.uasset
